nbformat    # Notebook format
ipykernel   # Notebook runtime
pandas
openpyxl    # Pandas: Read Excel
jinja2      # Pandas: Format floats
matplotlib  # Pandas: Graphs #1
geopandas
plotly      # Pandas: Graphs #2
kaleido     # Plotly: Statically saved plots
mapclassify # Principled classification of choropleth colors
